/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2017, 10:36:18 AM
    Author     : Diana
*/

@media screen and (max-width: 640px) {
#wrapper {width: 100% !important;padding:2%}
/* mobile navigation adjustments */	
nav[role="dropdown"] ul {display: none;}
nav[role="dropdown"] ul > li, li a {width: 100% !important; opacity: .8; text-align: left !important; }
nav[role="dropdown"] ul > li a:after {content: '\25ba'; float:right; padding-left: 0.5em; font-size:0.65em;  padding-right:1.75em;}
nav[role="dropdown"] .show-menu {display:block; width: 100%;}	
nav[role="dropdown"] label.show-menu {margin-bottom:0.25%;}
nav[role="dropdown"] ul > li:first-child {-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;}
nav[role="dropdown"] ul > li:last-child  {-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;}
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}


@media only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block;
                        width: auto;
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "Time"; }
		td:nth-of-type(2):before { content: "Event Name"; }
		td:nth-of-type(3):before { content: "Location"; }
		td:nth-of-type(4):before { content: "Note"; }
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0; 
			width: auto; }
		}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body { 
			max-width: auto; 
		}
	}
