/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 21, 2017, 4:08:25 PM
    Author     : Lenovo
*/


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* untuk ukuran 1080px kebawah */
@media screen and (max-width: 1080px) {
	
	.wadah {
		width: 100%;
	}
	.left {
		width: 25%;
		/*background: #fff000;*/
	}
	.middle {
		width: 68%;
		float: right;
	}

}


@media screen and (min-width: 780px)
{
	.hides
	{
		display: none;
		max-height: 0;
		overflow: hidden;
	}
}
	

	
/* untuk ukuran layar 700px kebawah */
@media screen and (max-width: 780px) {
	
        .wadah {
		padding: 0px;
                margin: 0px;
	}
    
	.header, 
	.footer{
		text-align: center;
	}
        
        h1{
            font: 12px;
            padding: 2px;
            margin: 2px;
        }
	
        .kotak-acount{
            float: right;
        }

        .acount-nama{
            float:left;
            padding:3px;
            margin:3px;
            font: 12px Arial;
            color:#fafafa;
        }

        .icon-account{
            float:left;
            padding: 2px;
            margin: 2px;
            overflow: hidden;
            border-radius:100px;
        }
        .icon-account img{
            float: left;
            width: 20px;
            height: 20px;

        }
        
        
	.left {
		width: auto;
		float: none;
	}
	
        .turun{
            float: left;
            padding: 1px;
            margin: 1px;
            overflow: hidden;
            border: none;
            border-radisu: 0.2em;
        }
        
        
        .turun img{
            width: 20px;
            height: 20px;
        }
        
        
        
	.middle {
		width: auto;
		float: none;
	}
	
	.icon-search img{
	width: 27px;
	height: 27px;
	}

	.search{
		float: left;
		padding: 4px;
		margin: 4px;
		font: 12px Arial;
		font-weight: bold;
	}
        
        h1{
            font: 18px sans-serif;
            font-weight: bold;
        }
	
	h2{
		font: 14px Arial;
	}
	
	.icon-setting{
	float: left;
	padding: 4px;
	margin: 4px;
	}

	.icon-setting img{
		width: 25px;
		height: 25px;
	}
	
	#hidden-mobile
	{
		display:none;
	}
        
        
        .action, .action2{
                padding: 1px;
                margin: 1px;
                font: 9px;
        }
        
        .edtp{
	   width: 90%;
	}
        
        .dropdown-location{
        width: 200px;
        }
        
        .dropdown-time{
        width: 85px;
        }
	
}
	

@media only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block;
                        width: auto;
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "ID"; }
		td:nth-of-type(2):before { content: "Fullname"; }
		td:nth-of-type(3):before { content: "Username"; }
		td:nth-of-type(4):before { content: "Email"; }
		td:nth-of-type(5):before { content: "Action"; }
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0; 
			width: auto; }
		}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body { 
			max-width: auto; 
		}
	}