/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 21, 2017, 12:35:26 PM
    Author     : Diana
*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	background: #dedede;
	font-family: 'Helvetica', arial, sans-serif;

	font-size: 15px;
}

p{
	margin-bottom: 20px;
	line-height: 1.5em;
}


h1{
	padding: 4px;
	margin: 4px;
	font: 26px sans-serif;
	font-weight: bold;
	color: #fafafa;
	background: none;
}

h3{
        padding: 2px;
        margin: 2px;
        font: 18px Arial;
        font-weight: bold;
        color: #616161;
        margin-bottom: 20px;
	border-bottom: 3px solid #2979FF;
}

h4{
	float: left;
	padding: 6px;
	margin: 6px;
	font: 16px Arial;
	color: #616161;
	font-weight: bold;
	background: none;
	border: none;
	border-radius: 0.2em;
}

.kotak-search{
	float: right;
	background: none;
	overflow: hidden;
	border: 1px solid #eee;
	border-radius: 100px;
}

.icon-search{
	padding: 1px;
	margin: 1px;
	float: left;
	overflow: hidden;
}

.icon-search img{
	width: 35px;
	height: 35px;
}


.search{
	float: left;
	padding: 5px;
	margin: 5px;
	font: 16px Arial;
	color: #454545;
	background: none;
	border: none;
	border-radius: 50px;
}


.icon-setting{
	float: left;
	padding: 4px;
	margin: 4px;
	overflow: hidden;
        background: #E0E0E0;
	border-radius: 100px;
        box-shadow: 0 1px 2px #BDBDBD;
}

.icon-setting img{
        float: left;
        padding: 2px;
        margin: 2px;
	width: 26px;
	height: 26px;
}

.action, .action2, .action3{
	padding: 4px;
	margin: 4px;
	border: none;
	border-radius: 0.2em;
	background: #ff9900;
}

.action2 {
	background: #EF5350;
}

.action3 {
	background: #bebebe;
}

h5{
	padding: 7px;
	margin: 7px;
	font: 16px Arial;
	color: #fafafa;
	font-weight: bold;
}


.judul-manage{
	float: left;
	padding: 7px;
	margin: 7px;
	font: 18px sans-serif;
        color: #616161;
	font-weight: bold;
}

a{
	text-decoration: none;
        color: #EEEEEE;
}
a:hover{
	color: #666;
}


.jarak-atas{
	max-width: 100%;
	height: 62px;
	background: none;
	overflow: hidden;
}

.menu-atas{
  float: left;
  width: 100%;
  height: auto;
  background: #1565C0;
  position: fixed;
  border-top: 3px solid #1976D2;
  box-shadow: 0 2px 2px #727272;
  top: 0;
  left: 0;
  z-index: 9999;
}

.logonya{
    float: left;
    padding: 2px;
    margin: 2px;
    margin-left: 16px;
    overflow: hidden;
    border: none;
    border-radius: 100px;
}

.logonya img{
    float: left;
    width: 35px;
    height: 47px;
}

.logo{
    float: left;
    padding: 2px;
    margin: 2px;
    overflow: hidden;
}

.kotak-acount{
    float: right;
    margin-right: 6%;
    background: #1976D2;
}

.acount-nama{
    float:left;
    padding:8px;
    margin:8px;
    font: 17px sans-serif;
    font-weight: bold;
    color:#fafafa;
}

.icon-account{
    float:left;
    padding: 2px;
    margin: 2px;
    overflow: hidden;
    border-radius:100px;
}
.icon-account img{
    float: left;
    width: 40px;
    height: 40px;
    
}





.dropbtn {
    margin-right: 6%;
    background-color: #4CAF50;
    color: white;
    padding: 2px;
    margin: 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}










.dropdown-location{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 310px;
    height: 50px;
    background: #f4f4f4;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #535559;
}

.dropdown-time{
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 100px;
    height: 50px;
    background: #f4f4f4;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #535559;
}

.edit-dl{
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 13px;
    padding-left: 5px;
    width: 250px;
    height: 50px;
    background: #f4f4f4;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #535559;
}



.wadah{
	max-width: 100%;
	margin: auto;
	background: #f5f5f5;
	overflow: hidden;
        padding: 10px;
}

.header{
	border: none;
	padding: 0px;
	margin: 0px;
}

/* Main */

	.left{
		width: 300px;
		border: 1px solid #dedede;
                box-shadow: 0 2px 2px #b3b3b3;
		background: #e5e5e5;
		padding: 10px;
		margin: 10px;
		float: left;
	}
	
        
        .menu-admin{
		background: #BDBDBD;
		overflow: hidden;
		border: none;
                border-radius: 0.5em 0.5em 0 0;
                border-bottom: 3px solid #1565C0;
	}
        
	.menu-manage{
		background: #f4f4f4;
		overflow: hidden;
		border: 1.2px solid #ddd;
	}
        
	
	.menu-manage:hover{
		background: #42A5F5;
		transition: 0.4s;
                color: #fafafa;
	}
	
	h2{
		float: left;
		padding: 7px;
		margin: 7px;
		font: 17px Arial;
                color: #3d4f5d;
	}
	
        .text-admin{
            font: 18px sans-serif;
            font-weight: bold;
            color: #fafafa;
        }
	
	#myBtn{
		
		float: right;
		padding: 7px;
		margin: 7px;
		font: 16px Arial;
		font-weight: bold;
		color: #fafafa;
		background: #4CAF50;
		border: none;
		border-radius: 0.2em;
	}

	.middle{
		width: 73%;
		border: none;
                border-radius: 0.2em;
                box-shadow: 0 2px 2px #b3b3b3;
		background: #e5e5e5;
		overflow: hidden;
		padding: 10px;
		margin: 10px;
		float: left;
	}
	
        
        
        .pagination {
			padding: 7px;
			margin: 7px;
		}

		.page {
			display: inline-block;
			padding: 7px;
			margin: 7px;
			margin-right: 4px;
			border-radius: 3px;
			border: solid 1px #c0c0c0;
			background: #e9e9e9;
			box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
			font-size: .875em;
			font-weight: bold;
			text-decoration: none;
			color: #717171;
			text-shadow: 0px 1px 0px rgba(255,255,255, 1);
		}

		.page:hover, .page.gradient:hover {
			background: #fefefe;
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
			background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
		}

		.page.active {
			border: none;
			background: #1E88E5;
			color: #f0f0f0;
			text-shadow: 0px 0px 3px rgba(0,0,0, .5);
		}

		.page.gradient {
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
			background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
		}

		.pagination.dark {
			background: #414449;
			color: #feffff;
		}

		.page.dark {
			border: solid 1px #32373b;
			background: #3e4347;
			box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
			color: #feffff;
			text-shadow: 0px 1px 0px rgba(0,0,0, .5);
		}

		.page.dark:hover, .page.dark.gradient:hover {
			background: #3d4f5d;
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
			background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
		}

		.page.dark.active {
			border: none;
			background: #2f3237;
			box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
		}

		.page.dark.gradient {
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
			background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);
		}
        
        
        .text-edit{
		padding: 4px;
		margin: 4px;
		font: 16px Arial;
		font-weight: bold;
		color: #757575;
	}
	
	
        .distance-form{
            padding: auto;
            margin: auto;
        }
        
	.update-traveller{
		float: left;
		padding: 7px;
		margin: 7px;
		font: 14px Arial;
		color: #fafafa;
		font-weight: bold;
		background: #4CAF50;
		border: none;
		border-radius: 0.3em;
	}
	
	
	.edtp{
	   width: 40%;
	   padding: 10px;
	   margin: 10px;
	   border: 1px solid #ddd;
	}
	
	
        
	
#SignUp{
	background: #448AFF;
}

/* =============================================================================== */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
	padding: 10px;
	padding-top: 80px;
   	margin: 10px auto;
    bottom: 0;
    background-color: transparent;
    width: auto;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background: linear-gradient(135deg,#043a61,#0471b1 26%,#0985bb 51%,#16a2b1 76%,#22bc9d);
    color: white;
}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}


.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}


.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}
	
	
	.kotak-traveller{
		padding: 3px;
		margin: 3px;
		background: #f6f6f6;
		overflow: hidden;
		border: none;
                border-radius: 0.2em;
                box-shadow: 0 2px 2px #ddd;
	}
	
        .kotak-distance{
		padding: 3px;
		margin: 3px;
		background: #fafafa;
		overflow: hidden;
		border: none;
                border-radius: 0.2em;
                box-shadow: 0 2px 2px #ddd;
	}
        
	#page-wrap {
		margin: 50px;
	}
	/*p {
		margin: 20px 0; 
	} */

		/* 
		Generic Styling, for Desktops/Laptops 
		*/
		table { 
			width: 100%; 
			border-collapse: collapse;
		}
		/* Zebra striping */
		tr:nth-of-type(odd) { 
			background: #eee; 
		}
		
		td, th{ 
			padding: 7px;
                        margin: 7px;
			border: 1px solid #ccc; 
			text-align: left;
                        font: 14px Arial;
                        font-weight: bold;
                        color: #757575;
		}
                
                th { 
			background: #9E9E9E;
                        font: 15px Arial;
			font-weight: bold; 
                        color: #fff;
		}
		
			.middle img{
				max-width: 100%;
				height: auto;
			}

			.middle a{
				font-weight: bold;
			}


        .footer-atas{
                height: 40px;
                max-width: 100%;
                border: none;
                background: #343434;
                overflow: hidden;
                border-top: 10px solid #F2F2F2;
        }


        .footer-bawah{
                max-width: 100%;
                border: none;
                background: #4D4D4D;
                overflow: hidden;
                height: auto;
        }

        .footer{
                max-width: auto;
                background: none;
                overflow: hidden;
                padding: 10px;
                margin: 10px auto;
        }


        .copyright{
                float: left;
                width: 90px;
                font: 20px Arial;
                font-weight: bold;
                color: #fafafa;
        }

        .copyright2{
                padding: 3px;
                margin: 3px;
                float: right;
                width: auto;
                font: 16px Arial;
                color: #fafafa;
        }

