/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 30, 2017, 11:55:40 AM
    Author     : Lenovo
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 21, 2017, 12:35:26 PM
    Author     : Diana
*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	background: #f4f4f4;
	font-family: 'Helvetica', arial, sans-serif;

	font-size: 15px;
}

.wadah{
	max-width: 100%;
	margin: auto;
	background: none;
	overflow: hidden;
        padding: 10px;
}

.wadah2{
	max-width: 100%;
	margin: auto;
	background: linear-gradient(135deg,#043a61,#0471b1 26%,#0985bb 51%,#16a2b1 76%,#22bc9d);
	overflow: hidden;
        padding: 10px;
}

.kotak-deskripsi{
   width: 200px;
   background: #1abc9c;
   opacity: 0.9;
   padding: 30px;
    border-radius:50px;
    margin-left:50px;
    margin-top:110px;
    -webkit-animation: fade-in-move-down 0.7s;
  animation: fade-in-move-down 0.7s;
}

/* as seen on https://webkit.org/blog */
@-webkit-keyframes fade-in-move-down {
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
  }
}



.wadah3{
        width: 100%;
        height: auto;
	margin: auto;
	background: url("../images/mobil.jpg");
	overflow: hidden;
        padding: 10px;
        height:600px;
        posisition:absolute;
        -webkit-background-size: cover;
        -moz-background-size:  cover;
        -o-background-size: cover;
         background-size: cover;
         -webkit-animation: fade-in-move-down 1s;
        animation: fade-in-move-down 1s;
}

/* as seen on https://webkit.org/blog */
@-webkit-keyframes fade-in-move-down {
        0% {opacity: 0;}
        100% {opacity: 0.9;}
}



.deskripsi{
    color: #f4f4f4;
    opacity: 0.9;
    font-size: 50px;
    font-family: 'Helvetica', arial, sans-serif;
    position: relative;
    animation: fade-in-move-down 2s;
}

/* as seen on https://webkit.org/blog */
@-webkit-keyframes fade-in-move-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


.slogan{
        padding-top: 18px;
	margin: 9px;
	background: none;
	overflow: hidden;
}

p{
	margin-bottom: 20px;
	line-height: 1.5em;
}


h1{
	padding: 3px;
	margin: 3px;
	font: 30px Trebuchet MS;
	font-weight: bold;
	color: #0471b1;
	background: none;
}

.text-view{
        float: left;
	padding: 16px;
	margin: 16px;
	font: 30px Trebuchet MS;
	font-weight: bold;
	color: #454545;
	background: none;
}

h3{
        padding: 2px;
        margin: 2px;
        font: 18px Arial;
        font-weight: bold;
        color: #616161;
        margin-bottom: 20px;
	border-bottom: 3px solid #2979FF;
}

h4{
	float: left;
	padding: 6px;
	margin: 6px;
	font: 16px Arial;
	color: #616161;
	font-weight: bold;
	background: none;
	border: none;
	border-radius: 0.2em;
}

h6{
	padding: 12px;
	margin: 12px;
	font: 60px monospace;
	font-weight: bold;
	color: #fafafa;
	text-align: center;
}

.kotak-search{
	float: right;
	background: none;
	overflow: hidden;
	border: 1px solid ;
	border-radius: 100px;
}

.icon-search{
	padding: 1px;
	margin: 1px;
	float: left;
	overflow: hidden;
}

.icon-search img{
	width: 35px;
	height: 35px;
}


.search{
	float: left;
	padding: 5px;
	margin: 5px;
	font: 16px Arial;
	color: #454545;
	background: none;
	border: none;
	border-radius: 50px;
}


.icon-setting{
	float: left;
	padding: 4px;
	margin: 4px;
	overflow: hidden;
        background: #E0E0E0;
	border-radius: 100px;
        box-shadow: 0 1px 2px #BDBDBD;
}

.icon-setting img{
        float: left;
        padding: 2px;
        margin: 2px;
	width: 26px;
	height: 26px;
}

.action, .action2, .action3{
	padding: 4px;
	margin: 4px;
	border: none;
	border-radius: 0.2em;
	background: #ff9900;
}

.action2 {
	background: #EF5350;
}

.action3 {
	background: #bebebe;
}

h5{
	padding: 7px;
	margin: 7px;
	font: 16px Arial;
	color: #fafafa;
	font-weight: bold;
}


.judul-manage{
	float: left;
	padding: 7px;
	margin: 7px;
	font: 18px sans-serif;
        color: #616161;
	font-weight: bold;
}

a{
	text-decoration: none;
        color: #EEEEEE;
}
a:hover{
	color: #666;
}


.jarak-atas{
	max-width: 100%;
	height: 58px;
	background: none;
	overflow: hidden;
}

.menu-atas{
  float: left;
  width: 100%;
  height: 61px;
  background:#00897b;
  position: fixed;
  border-top: 3px solid #1976D2;
  top: 0;
  left: 0;
  z-index: 9999;
  margin-top:-3px;
}

.logonya{
    float: left;
    padding: 2px;
    margin: 2px;
    margin-left: 50px;
    overflow: hidden;
    border: none;
    border-radius: 100px;
}

.logonya img{
    float: left;
    width: 33px;
    height: 49px;
}

.logo{
    float: left;
    padding: 2px;
    margin: 2px;
    overflow: hidden;
}

.kotak-acount{
    float: right;
    background-color: transparent;
}

.acount-nama{
    float:left;
    padding:8px;
    margin:8px;
    font: 17px sans-serif;
    font-weight: bold;
    color:#fafafa;
}

.icon-account{
    float:left;
    padding: 2px;
    margin: 2px;
    overflow: hidden;
    border-radius:100px;
}
.icon-account img{
    float: left;
    width: 30px;
    height: 30px;
    
}

.sign-up{
    float:left;
    padding: 19px;
    margin: 0px;
    background: #1abc9c;
    color:#f4f4f4;
    font: 16px Arial;
    font-weight: bold; 
}

.sign-up a{
    color:#f4f4f4;
       
}


.sign-up a:hover{
    color:#f4f4f4;    
}


.sign-in{
    float:left;
    padding: 18px;
    margin: 2px;
    overflow: hidden;
    border-radius:100px;
}

.sign-in a{
    color:dimgray;
}

.sign-in :hover{
    color:#1abc9c;
}
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 4px;
    margin: 4px;
    font-size: 16px;
    border: 0px solid #0D47A1;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #1abc9c;color:#f9f9f9}

.dropdown:hover .dropdown-content {
    display: block;
}

/*.dropdown:hover .dropbtn {
//    background-color: asd;
}*/

.kotak-cari{
    padding: 4px;
    margin: 4px;
    float: right;
    overflow: hidden;
    border: 0px solid #0D47A1;
    background: #ffffff;
}

.cari{
    padding: 4px;
    margin: 4px;
    height: 30px;
    width: 300px;
    font: 14px Arial;
    color: #717171;
    border: none;
    background: transparent;
}

.icon-cari{
    float: left;
    padding: 1px;
    margin: 1px;
}

.icon-cari img{
    width: 30px;
    height: 30px;
}


.left{
		width: 320px;
		border: none;
		background: none;
		float: left;
	}
        

        .kotak-sidebar{
            padding: 9px;
            margin: 9px;
            border: 1px solid #ddd;
            border-radius: 0.3em;
            background: #f4f4f4;
            overflow: hidden;
        }        
        
        .judul{
            font: 15px Arial;
            font-weight: bold;
            color: #454545;
        }
        
        .text-notif{
            paddig: 3px;
            margin: 3px;
            width: auto;
            overflow: hidden;
            background: none;
            text-align: left;
            font: 15px Arial;
            color: #454545;
            line-height: 2em;
        }
        
       

 
.middle{
		width: 73%;
		border: none;
                border-radius: 0.2em;
                box-shadow: 0 1px 1px #b3b3b3;
		background: #f4f4f4;
		overflow: hidden;
		padding: 10px;
		margin: 10px;
		float: left;
	}
        
        
 
.middle2{
		width: 73%;
		border: none;
                border-radius: 0.2em;
                box-shadow: 0 1px 1px #b3b3b3;
		background: #f4f4f4;
		overflow: hidden;
		padding: 10px;
		margin: 10px;
		float: left;
	}        
        
        .moda{
            padding: 0;
            margin: 0;
        }
        
        .moda img{
            padding: 0 auto;
            width: 30px;
            height: 30px;
        }
        
        
#wrapper {width: 600px; margin: 5px auto;overflow: hidden;}

nav[role="dropdown"] a, label.show-menu {color: #fff !important;text-decoration: none;font-size: 14px;display:block; font-family:Helvetica;}
nav[role="dropdown"] ul {padding: 0;margin: 0 auto;width: 100%;list-style: none;}
nav[role="dropdown"] ul > li {float: left;padding: .64em .55em;width: 22%;
/*start gradient bg*/background: #014a7d;
text-align: center;cursor: pointer; border: none; margin-right:0.2%;height: 39px;}
nav[role="dropdown"] ul > li:first-child {width:22%; moz-border-radius-topleft: 4px;-webkit-border-top-left-radius: 4px;border-top-left-radius: 4px;}
nav[role="dropdown"] ul > li:last-child  {width:33%; moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px;}
nav[role="dropdown"] ul > li:hover > a {color: #f1f1f1 !important;}
nav[role="dropdown"] ul > li:hover {background: #054e69; border:1px #333 solid;}
nav[role="dropdown"] ul > li.active {background:#1abc9c; border:none;}

/*  properties to display mobile navigation */
nav[role="dropdown"] .show-menu {text-decoration: none;	color: #ffffff;  border: 0.15em solid rgba(60, 60, 60, 0.2); background:rgba(11,78,138,1.00); text-align: right; min-height: 2.25em;  cursor: pointer; display: none;}
nav[role="dropdown"] .show-menu:after {content: "\2261";font-size: 2.25em; line-height:1.25em; padding-right:0.5em; color: #ffffff;}
nav[role="dropdown"] input[type=checkbox]:checked ~ .show-menu:after {content: "\00d7"; padding-right:0.5em;}
nav[role="dropdown"] input[type=checkbox]{display: none;}
nav[role="dropdown"] input[type=checkbox]:checked ~ #menu {display: block;}



.calendar-wrap {
	width: 100%;
	font-family: Verdana, sans-serif;
	font-size: 18px;
}
.calendar-wrap * {
	box-sizing:border-box;
}
.calendar-wrap ul {
	list-style-type: none;
}
.calendar-wrap a {
	text-decoration: none;
}
.calendar-wrap .menu > a,
.calendar-wrap .year a,
.calendar-wrap .month a
{
	color: #eee;
}
.calendar-wrap .menu > a:hover,
.calendar-wrap .year a:hover,
.calendar-wrap .month a:hover
{
	color: #fff;
}
.calendar-wrap .menu-item a {
	color: #eee;
}
.calendar-wrap .menu-item li:hover {
	background: #666;
}
.calendar-wrap .menu-item li:hover a {
	color: #2ca;
}
.calendar-wrap .menu-item li {
	margin: 4px 0;
	padding: 14px 14px;
}
.calendar-wrap .menu,
.calendar-wrap .year,
.calendar-wrap .month {
	margin: 0;
	background: #2ca;
}
.calendar-wrap .menu {
	position: relative;
	padding: 0;
	text-align: center;
	font-size: 18px;
}
.calendar-wrap .menu-item {
	margin: 0;
	padding: 0;
	background: #444;
	position: absolute;
	width: 40%;
	left: 30%;
	font-size: 18px;
	cursor: pointer;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.5s;
}
.calendar-wrap .show
{
    z-index: 1;
    opacity: 1;
}
.calendar-wrap .year {
	padding: 0 10px;
	letter-spacing: 4px;
	font-size: 1.5em;
}
.calendar-wrap .month {
	padding: 12px 10px;
	letter-spacing: 4px;
	font-size: 1.5em;
}
.calendar-wrap .year li,
.calendar-wrap .month li {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
.calendar-wrap .prev,
.calendar-wrap .next {
	width: 10%;
}
.calendar-wrap .prev {
	float: left;
}
.calendar-wrap .next {
	float: right;
}
.calendar-wrap .weekdays {
	margin: 0;
	padding: 10px 0;
	background-color:#ddd;
	font-size: 1em;
}
.calendar-wrap .weekdays li {
	display: inline-block;
	width: 14.2857%;
	color: #666;
	text-align: center;
}
.calendar-wrap .days {
	padding: 10px 0;
	background: #eee;
	margin: 0;
	font-size: 1.2em;
}
.calendar-wrap .days li {
	display: inline-block;
	width: 14.2857%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	color:#777;
}
.calendar-wrap .friday {
	color: #2ca !important;
}
.calendar-wrap .sunday {
	color: #e31 !important;
}
.calendar-wrap .current-date,
.calendar-wrap .specialz-date {
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.calendar-wrap .current-date {
	background: #2ca;
	color: #eee !important;
}
.calendar-wrap .footer-date {
	font-size: 0.5em;
}
.calendar-wrap .inactive-date {
	color: #bbb !important;
}
.calendar-wrap .specialz-date {
	background: #e31;
	color: white !important;
}


.view-travel{
    float: right;
    width: 250px;
    height: 100px;
    font: 18px Arial;
    font-weight: bold;
    color: #fafafa;
    background: #0471b1;
    border: none;
    border-radius: 0.2em;
}


		/* 
		Generic Styling, for Desktops/Laptops 
		*/
		table { 
			width: 100%; 
			border-collapse: collapse;
                        background: #f4f4f4;
		}
		/* Zebra striping */
		tr:nth-of-type(odd) { 
			background: #eee; 
		}
                
		
		td, th{ 
			padding: 7px;
                        margin: 7px;
			border: 1px solid #ccc; 
			text-align: left;
                        font: 14px Arial;
                        font-weight: bold;
                        color: #757575;
		}
                
                th { 
			background: #bdbdbd;
                        font: 15px Arial;
			font-weight: bold; 
                        color: #fff;
		}
                

        .footer-atas{
                
                height: 40px;
                max-width: 100%;
                border: none;
                background: #343434;
                overflow: hidden;
        }


        .footer-bawah{
                max-width: 100%;
                border: none;
                background: #4D4D4D;
                overflow: hidden;
                height: auto;
        }

        .footer{
                max-width: auto;
                background: none;
                overflow: hidden;
                padding: 10px;
                margin: 10px auto;
        }


        .copyright{
                float: left;
                width: 90px;
                font: 25px Arial;
                font-weight: bold;
                color: #5f5f5f;
                margin-left:30px;
        }

        .copyright2{
                padding: 3px;
                margin: 3px;
                float: right;
                width: auto;
                font: 16px Arial;
                color: #5f5f5f;
                margin-right: 30px;
                margin-top: 15px;
        }
        
        .gambar img{
                 float: left;
                 padding: 2px;
                 margin: 2px;
	         width: 26px;
	         height: 26px;     
        }
        
        #myBtn{
		
		float: right;
		padding: 0px;
		margin: 0px;
		font: 16px Arial;
		font-weight: bold;
		color: #f4f4f4;
		border: none;
                background:transparent;
		
	}
     
        #myBtn:hover{
            color:#1abc9c;
        }
        .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
	padding: 10px;
	padding-top: 80px;
   	margin: 10px auto;
    bottom: 0;
    background-color: transparent;
    width: auto;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: dimgray;
    margin-bottom: 60px;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background: transparent;
    color: white;
}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}


.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover{color:#f4f4f4;}

.plogo img{
    margin-left:55px;
    margin-top:5px;
}

.sulogo{
    margin-left:55px;
    margin-top:-25px;
}

.sulogo img{
    margin-left:-10px;
    margin-bottom:20px;
}