/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2017, 4:56:39 PM
    Author     : Lenovo
*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	background: #fff;
	font-family: 'Helvetica', arial, sans-serif;

	font-size: 15px;
}

p{
	margin-bottom: 20px;
	line-height: 1.5em;
}

h4{
    padding: 3px;
    margin: 3px;
    font: 18px Arial;
    font-weight: bold;
    color: #fafafa;
}

h3{
	font: 20px Arial;
	font-weight: bold;
	color: #1A237E;
	text-align: center;
}

a{
	text-decoration: none;
	color: #333;
}

a:hover{
	color: #666;
}

.menu-induk{
	width: auto;
	height: auto;
	background: #fff;
	border-top: 3px solid #ff9900;
}

.container{
	max-width: 1080px;
	margin: 20px auto;
	background: #fff;
        border-radius: 0.3em;
	overflow: hidden;
	padding: 10px;
}

.container-t{
	max-width: 1080px;
	margin: 20px auto;
	background: transparent;
	overflow: hidden;
	padding: 10px;
}


.jarak-atas{
	max-width: 100%;
	height: 56px;
	background: none;
	overflow: hidden;
}

.menu-atas{
  float: left;
  width: 100%;
  height: 56px;
  background:#00897b;
  position: fixed;
  border-top: 0 0 3px solid dimgrey;
  top: 0;
  left: 0;
  z-index: 9999;
}


.kotak-search{
	float: right;
	background: none;
	overflow: hidden;
	border: 1px solid ;
	border-radius: 100px;
}

.icon-search{
	padding: 1px;
	margin: 1px;
	float: left;
	overflow: hidden;
}

.icon-search img{
	width: 35px;
	height: 35px;
}

.search{
	float: left;
	padding: 5px;
	margin: 5px;
	font: 16px Arial;
	color: #454545;
	background: none;
	border: none;
	border-radius: 50px;
}

.icon-setting{
	float: left;
	padding: 4px;
	margin: 4px;
	overflow: hidden;
        background: #E0E0E0;
	border-radius: 100px;
        box-shadow: 0 1px 2px #BDBDBD;
}

.icon-setting img{
        float: left;
        padding: 2px;
        margin: 2px;
	width: 26px;
	height: 26px;
}


.logonya{
    float: left;
    padding: 2px;
    margin: 2px;
    margin-left: 50px;
    overflow: hidden;
    border: none;
    border-radius: 100px;
}

.logonya img{
    float: left;
    width: 28px;
    height: 49px;
}

.logo{
    float: left;
    padding: 2px;
    margin: 2px;
    overflow: hidden;
}

.kotak-acount{
    float: right;
    background-color: transparent;
}

.acount-nama{
    float:left;
    padding:8px;
    margin:8px;
    font: 17px sans-serif;
    font-weight: bold;
    color:#fafafa;
}

.icon-account{
    float:left;
    padding: 2px;
    margin: 2px;
    overflow: hidden;
    border-radius:100px;
}
.icon-account img{
    float: left;
    width: 30px;
    height: 30px;
    
}

.sign-up{
    float:left;
    padding: 19px;
    margin: 0px;
    background: #0471b1;
    color:#f4f4f4;
    font: 16px Arial;
    font-weight: bold; 
}

.sign-up a{
    color:#f4f4f4;     
}


.sign-up a:hover{
    color:#f4f4f4;    
}

.sign-in{
    float:left;
    padding: 18px;
    margin: 2px;
    overflow: hidden;
    border-radius:100px;
}

.sign-in a{
    color:dimgray;
}

.sign-in :hover{
    color:#1abc9c;
}
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 4px;
    margin: 4px;
    font-size: 16px;
    border: 0px solid #0D47A1;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #1abc9c;color:#f9f9f9}

.dropdown:hover .dropdown-content {
    display: block;
}

/*.dropdown:hover .dropbtn {
//    background-color: asd;
}*/

.kotak-cari{
    padding: 4px;
    margin: 4px;
    float: right;
    overflow: hidden;
    border: 0px solid #0D47A1;
    background: #ffffff;
}

.cari{
    padding: 4px;
    margin: 4px;
    height: 30px;
    width: 300px;
    font: 14px Arial;
    color: #717171;
    border: none;
    background: transparent;
}

.icon-cari{
    float: left;
    padding: 1px;
    margin: 1px;
}

.icon-cari img{
    width: 30px;
    height: 30px;
}

#findResultMore button{
    background: #ff99900;
}

/* Main */
	.left{
                float: left;
		width: 510px;
                height: auto;
		border: 1px solid #dedede;
		background: #f4f4f4;
                overflow: hidden;
		padding: 10px;
		margin: 10px;
		float: left;
	}

	.middle{
		width: 500px;
		border: 1px solid #dedede;
		padding: 10px;
		margin: 10px;
		float: left;
	}
		.middle img{
			max-width: 100%;
			height: auto;
		}

		.middle a{
			font-weight: bold;
		}

	.right{
                float: left;
		width: 510px;
                height: auto;
		border: 1px solid #dedede;
                background: #f4f4f4;
		padding: 10px;
		margin: 10px;
		overflow: hidden;
	}


	.right ul{
		list-style-type: none;
	}
	.right ul li{
		display: block;
	}
	.right ul li a{
		display: block;
		border-bottom: 1px solid #dedede;
		margin-bottom: 10px;
		padding: 10px 5px;
	}
	.right ul li a:hover{
		color: orange;
	}

        .footer-atas{
                
                height: 40px;
                max-width: 100%;
                border: none;
                background: #343434;
                overflow: hidden;
        }


        .footer-bawah{
                max-width: 100%;
                border: none;
                background: #4D4D4D;
                overflow: hidden;
                height: auto;
        }

        .footer{
                max-width: auto;
                background: none;
                overflow: hidden;
                padding: 10px;
                margin: 10px auto;
        }


        .copyright{
                float: left;
                width: 90px;
                font: 25px Arial;
                font-weight: bold;
                color: #5f5f5f;
                margin-left:30px;
        }

        .copyright2{
                padding: 3px;
                margin: 3px;
                float: right;
                width: auto;
                font: 16px Arial;
                color: #5f5f5f;
                margin-right: 30px;
                margin-top: 15px;
        }

.topnav {
  overflow: hidden;
  background-color: none;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #ff9900;
  color: white;
}

.topnav .icon {
  display: none;
}


.sukses{
    padding: 30px;
    margin: 30px;
}

.induk1{
	width: auto;
	height: auto;
	background: #006064;
	overflow: hidden;
        border-bottom: 3px solid #02A3A5;
}

.induk2{
	width: auto;
	height: auto;
	background: #ededed;
	overflow: hidden;
}

.induk-footer{
	width: auto;
	height: auto;
	background: #1b1b1b;
	overflow: hidden;
}

.ev-name{
	width: 1040px;
	padding: 10px;
	margin: 10px;
	border: 1px solid #b4b4b4;
	font: 16px Arial;
	font-weight: bold;
	color: #1A237E;
	text-align: center;
}

.name-ev{
    width: 100%;
    padding: 10px 20px;
}

.ev{
	width: 100%;
	padding: 12px 10px;
	border: 1px solid #b4b4b4;
	font: 14px Arial;
}

.tgl-ev{
	float: left;
	width: 250px;
	padding: 10px;
	margin: 10px;
	border: 1px solid #b4b4b4;
	font: 14px Arial;
}

.time-ev{
	width: 120px;
	padding: 10px;
	margin: 10px;
	border: 1px solid #b4b4b4;
	font: 14px Arial;
}


.time-ev2{
	width: 456px;
	padding: 10px;
	margin: 10px;
	border: 1px solid #b4b4b4;
	font: 14px Arial;
}


.text-ev{
	padding: 4px;
        margin: 4px;
	font: 14px Arial;
	font-weight: bold;
	color: #757575;
}

.i-save{
	width: 256px;
	margin: 0 auto;
}

.i-save2{
	width: 400px;
	margin: 0 auto;
        overflow: hidden;
}

.save-ev{
	width: 170px;
	padding: 10px;
	margin: 10px;
	font: 16px Arial;
	font-weight: bold;
	color: #f4f4f4;
	background: #ff9900;
	border: none;
	border-radius: 0.3em;
}

.save-ev2{
	width: 170px;
	padding: 10px;
	margin: 10px;
	font: 16px Arial;
	font-weight: bold;
	color: #f4f4f4;
	background: #1abc9c;
	border: none;
	border-radius: 0.3em;
}

.search-ev{
	float: right;
	padding: 2px;
	margin: 2px;
	height: 44px;
	width: 250px;
	font: 14px Arial;
	text-align: center;
	color: #757575;
	border: 1px solid #b4b4b4;
}

#map {
  width: auto;
  height: 300px;
  border: 1px solid #a0a0a0;
}



/* Style the tab */
div.tab {
    overflow: hidden;
    border: none;
    border-radius: 0.2em;
    background-color: #fafafa;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
    font-weight: bold;
    color: #006064;
    border-right: 1px solid #006064;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ff9900;
    border: none;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}


/* Style the tab content */
.tabcontent {
    display: none;
	overflow: hidden;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    padding: 10px;
    padding-top: 80px;
    margin: 10px auto;
    bottom: 0;
    background-color: transparent;
    width: auto;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px;
    margin: 10px;
    background: #00897b;
    padding: 2px 16px;
    color: white;
}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}


.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 850px;
  margin: 0 auto 100px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}


.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}


.k-transport{
    float: left;
    width: 140px;
    margin-right: 5px;
    margin-left: 5px;
    background: none;
    overflow: hidden;
    padding: 10px;
}

.k-popup{
    max-height: 100%;
    margin: auto;
    background: none;
    overflow: hidden;
    padding: 10px;
}

.k-popupna{
    float: none;
    padding: 2px;
    margin: 2px;
    overflow: hidden;
}

.trans{
    padding: 5px;
    margin: 5px;
}

.dontmode{
    margin-top: 10px;
}


.trans img{
    width: 95px;
    height: 95px;
}

.v-more, .v-del, #viewList{
    float: left;
    padding: 5px;
    margin: 5px;
    font-family: "Roboto", sans-serif;
    background: #1abc9c;
    width: 80px;
    border: 0;
    color: #FFFFFF;
    font-size: 13px;
    transition: all 0.3 ease;
    cursor: pointer
}

.v-del{
    background:#E53935;
}

#viewList{
    background: #ff9900;
}

.icon-more{
    padding: 2px;
    margin: 2px;
    overflow: hidden;
    background: none;
}

.icon-more img{
    width: 50px;
    height: 50px;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.b-signin{  
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.b-signup,.b-back{
  float: right;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.b-back{
    background:#1976D2;
}

.form button:hover{color:#f4f4f4;}

.setting-from{
    width: 530px;
    padding: 20px;
    margin: 20px auto;
    overflow: hidden;
    border-top: 3px solid #ff9900;
    border-bottom: 3px solid #ff9900;
}


#orig, .name, select, textarea{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #b4b4b4;
    box-sizing: border-box;
    resize: vertical;
}

label {
    margin-top: 16px;
    display: inline-block;
    font: 14px Arial;
    font-weight: bold;
    color: #757575;
}

.submit {
    width: 250px;
    background-color: #ff9900;
    font: 14px Arial;
    font-weight: bold;
    color: #fafafa;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.submitnya:hover {
    background-color: #45a049;
}

.col-25 {
    float: left;
    width: 26%;
    padding: 2px;
    margin: 2px;
}

.col-75 {
    float: left;
    width: 70%;
    padding: 2px;
    margin: 2px;
}


.col-95 {
    width: 100%;
    padding: 12px 10px;
    font: 14px Arial;
    color: #757575;
    border: 1px solid #b4b4b4;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.containernya{
    background: #f4f4f4;
    overflow: hidden;
}

#mapPopup{
    padding: 3px;
    margin: 3px;
    font: 14px Arial;
    font-weight: bold;
    color: #757575;
}


table { 
    width: 100%; 
    border-collapse: collapse;
    }
    /* Zebra striping */
    table tr:nth-of-type(odd) { 
    background: #fafafa; 
    }

    table td, table th{ 
    padding: 7px;
    margin: 7px;
    border: 1px solid #ccc; 
    text-align: left;
    font: 14px Arial;
    font-weight: bold;
    color: #757575;
    }

    table th { 
    background: #9E9E9E;
    font: 15px Arial;
    font-weight: bold; 
    color: #fff;
    }
    
.wadah-atas{
        position: relative;
	max-width: 100%;
        height: 425px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: none;
}

.wadah-atas img{
    width: 100%;
    height: 720px;
    vertical-align: middle;
}

.wadah-atas .slogan{
    height: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    font: 30px Arial;
    font-weight: bold;
    font-style: italic;
    color: #fafafa;
}

.logoku{
    padding-top: 80px;
    width: 85px;
    margin: 0 auto;
}

.logoku img{
    width: 80px;
    height: 120px;
}


